doctype html

p.privacy-and-terms
    | By creating an account you agree to accept our #[a.privacy([href]='links.privacy', target='_blank') Privacy Policy] and #[a.terms([href]='links.terms', target='_blank') Terms & Conditions].