doctype html

.container

    .row

        .col-12

            .jumbotron

                h1 ng-dynamic-forms

    .row

        .col-3.menu

            include ./test.nav.pug

        .col-9

            router-outlet