doctype html

ul
    li
        a([routerLink]='[""]') Home

    li
        a([routerLink]='["field"]') Fields

        ul
            li
                a([routerLink]='["field/checkbox"]') Checkbox
            li
                a([routerLink]='["field/colorpicker"]') Color Picker
            li
                a([routerLink]='["field/datepicker"]') Date Picker
            li
                a([routerLink]='["field/dropdown"]') Dropdown
            li
                a([routerLink]='["field/list"]') List