doctype html

input.form-control(
    [type]='showPassword ? "text" : "password"',
    [formControl]='formControl',
    autocomplete='off',
    autocapitalize='none',
    [ngClass]='{ "form-control-success": formControl.validator && formControl.valid, "form-control-danger": formControl.validator && !formControl.valid && formControl.touched }'
)
label.show-password.custom-checkbox
    input.checkbox(
        type='checkbox',
        (click)='toggleShowPassword()',
        [value]='showPassword'
    )
    span.checkbox-indicator
        span.check.fa.fa-check([hidden]='!showPassword')
    span.text Show Password