doctype html

input.form-control(
    [type]='type',
    [formControl]='formControl',
    [attr.disabled]='control.disabled ? "" : null',
    [ngClass]='{ "form-control-success": formControl.validator && formControl.valid, "form-control-danger": formControl.validator && !formControl.valid && formControl.touched }'
)