doctype html

input.custom-control-input(
    type='checkbox',
    [id]='controlName',
    [checked]='isChecked',
    (click)='toggle()',
    [attr.disabled]='control.disabled ? "" : null'
)
.fa.ngdf-checkbox-indicator(
    [ngClass]='{ "fa-square-o": !formControl.value, "fa-check-square-o": formControl.value }',
    (click)='toggle()'
)