doctype html

input.custom-control-input(
    type='checkbox',
    [id]='control.name',
    (click)='toggle()',
    [formControl]='input',
    [attr.disabled]='control.disabled ? "" : null'
)
.fa.ngdf-checkbox-indicator(
    [ngClass]='{ "fa-square-o": !input.value, "fa-check-square-o": input.value }',
    (click)='toggle()'
)