doctype html

.ngdf-colorpicker.form-control(
    [ngClass]='{ "form-control-success": input.validator && input.valid, "form-control-danger": input.validator && !input.valid && input.touched }',
    [(colorPicker)]='value',
    [cpPosition]='"bottom"',
    [cpOKButton]='true',
    [cpOKButtonClass]='"btn btn-primary"',
    [cpCancelButton]='true',
    [cpCancelButtonClass]='"btn btn-secondary"',
    [cpSaveClickOutside]='false',
    [cpAlphaChannel]='"disabled"',
    (cpToggleChange)='onToggleChange($event)',
    (colorPickerChange)='onChange()',
    [attr.disabled]='control.disabled ? "" : null'
)
    .ngdf-colorpicker-display.form-control(
        [style.background-color]='value'
    )