doctype html

div.form-inline([formGroup]='dateForm')

    select.form-control(formControlName='year', (touched)='onTouched')
        option(*ngFor='let year of years', [ngValue]='year') {{year}}

    select.form-control(formControlName='month', (touched)='onTouched')
        option(*ngFor='let month of months', [ngValue]='month.value') {{month.name}}

    select.form-control(formControlName='day', (touched)='onTouched')
        option(*ngFor='let day of days', [ngValue]='day') {{day}}