doctype html

select.form-control(
    [formControl]='input',
    autocomplete='off',
    [ngClass]='{ "form-control-success": input.validator && input.valid, "form-control-danger": input.validator && !input.valid && input.touched }',
    [attr.disabled]='(control.disabled || pendingPrerequisites) ? "" : null'
)
    option(
        *ngFor='let item of data',
        [ngValue]='itemValue ? item[itemValue] : item'
    ) {{item[itemLabel]}}