doctype html
include fields

.form-group([ngClass]='{ "has-success": control.displaysValidation && form.controls[control.name].validator && form.controls[control.name].valid, "has-danger": control.displaysValidation && form.controls[control.name].validator && !form.controls[control.name].valid && form.controls[control.name].touched }')
    +helpers('before')
    label([for]='control.name', *ngIf='control.label && control.labelPosition === "before"') {{control.label}}
    input-selector(#input, [control]='control', [form]='form')
    label([for]='control.name', *ngIf='control.label && control.labelPosition === "after"') {{control.label}}
    +helpers('after')