doctype html

.ngdf-list-editable(
    list-field-entry-display,
    *ngIf='!entryState.editing',
    [childControls]='childControls',
    [form]='form',
    (click)='onEditEntry()'
)

//.ngdf-list-editor(*ngIf='entryState[i].editing')
//    ng-template(ngFor let-childControl [ngForOf]='childControls')
//        //form-element([control]='childControl', [form]='entryForm')