doctype html

.ngdf-list-editable(
    list-field-entry-display,
    *ngIf='!entryState.editing',
    [childControls]='childControls',
    [form]='form',
    (click)='onEditEntry()'
)

.ngdf-list-editor(
    list-field-entry-editor,
    *ngIf='entryState.editing',
    [childControls]='childControls',
    [form]='form'
)