doctype html

ng-container([formGroup]='form')

    //.no-entries(*ngIf='!hasEntries')
    //    | No entries

    ng-container([formArrayName]='control.name')
        li.ngdf-list-item(
            *ngFor='let entryForm of formControl.controls; let i = index',
            list-entry,
            [form]='entryForm',
            [formGroupName]='i',
            [class]='control.itemCssClass',
            [entryState]='entryState[i]',
            [childControls]='childControls',
            (editEntry)='editEntry(i)',
            [ngClass]='{ "ngdf-list-editing": entryState[i].editing }',
            (keydown.enter)='onSaveItemClick(entry)'
        )