doctype html

ng-container([formGroup]='form')

    //.no-entries(*ngIf='!hasEntries')
    //    | No entries

    ul([formArrayName]='control.name')
        li.ngdf-list-item(
            *ngFor='let entryForm of formControl.controls; let i = index',
            listEntry,
            [formGroupName]='i',
            [class]='control.itemCssClass',
            [ngClass]='{ "ngdf-list-editing": entryState[i].editing }',
            (keydown.enter)='onSaveItemClick(entry)'
        )
            .ngdf-list-editable((click)='editEntry(i)', *ngIf='!entryState[i].editing')
                ng-template(ngFor let-childControl [ngForOf]='childControls')
                    form-element([control]='childControl', [form]='entryForm', [displayOnly]='true')
            .ngdf-list-editor(*ngIf='entryState[i].editing')
                ng-template(ngFor let-childControl [ngForOf]='childControls')
                    //form-element([control]='childControl', [form]='entryForm')