doctype html
include fields

div([formGroup]='form')

    //.no-entries(*ngIf='!hasEntries')
    //    | No entries

    ul([formArrayName]='controlName')
        li.ngdf-list-item(
            *ngFor='let entry of formControl.controls; let i = index',
            listEntry,
            [formGroupName]='i',
            [ngClass]='{ "ngdf-list-editing": state.entries[i].editing }',
            (keydown.enter)='onSaveItemClick(entry)'
        )
            .ngdf-list-editable((click)='editEntry(i)', *ngIf='!state.entries[i].editing')
                ng-template(ngFor let-control [ngForOf]='childControls')
                    +fields(true, 'entry', null)
            .ngdf-list-editor(*ngIf='state.entries[i].editing')
                ng-template(ngFor let-control [ngForOf]='childControls')
                    +fields(false, 'entry', null)