doctype html

input.form-control(
    [type]='showPassword ? "text" : "password"',
    [formControl]='formControl',
    autocomplete='off',
    autocapitalize='none',
    [ngClass]='{ "form-control-success": formControl.validator && formControl.valid, "form-control-danger": formControl.validator && !formControl.valid && formControl.touched }',
    [attr.disabled]='control.disabled ? "" : null'
)
label.show-password.custom-checkbox
    input.custom-control-input(
        type='checkbox',
        (click)='toggleShowPassword()',
        [value]='showPassword'
    )
    span.fa.ngdf-checkbox-indicator(
        [ngClass]='{ "fa-square-o": !showPassword, "fa-check-square-o": showPassword }',
        (click)='toggleShowPassword()'
        )
    span.text Show Password