doctype html

input.form-control(
    [type]='showPassword ? "text" : "password"',
    [formControl]='formControl',
    autocomplete='off',
    autocapitalize='none',
    [ngClass]='{ "form-control-success": validatorSuccess, "form-control-danger": validatorError }',
    [attr.disabled]='control.disabled ? "" : null'
)
label.show-password.custom-checkbox(
    (click)='toggleShowPassword()'
)
    input.custom-control-input(
        type='checkbox',
        (click)='toggleShowPassword()',
        [value]='showPassword'
    )
    span.fa.ngdf-checkbox-indicator(
        [ngClass]='{ "fa-square-o": !showPassword, "fa-check-square-o": showPassword }'
    )
    span.text Show Password