doctype html

input.form-control(
    [type]='type',
    [formControl]='formControl',
    [attr.disabled]='control.disabled ? "" : null',
    [ngClass]='{ "form-control-success": validatorSuccess, "form-control-danger": validatorError }'
)