doctype html

input.form-control(
    [type]='type',
    [formControl]='formControl',
    [attr.disabled]='control.disabled ? "" : null',
    [ngClass]='{ "is-valid": validatorSuccess, "is-invalid": validatorError }'
)