doctype html

button(
    [type]='element.buttonType',
    (click)='handleBehavior(element.buttonAction, form)',
    [attr.disabled]='element.disabled ? "" : null',
    [disabled]='isDisabled(element)'
) {{getText(element.text)}}