doctype html

button(
    [type]='element.buttonType',
    (click)='handleBehavior(element.buttonAction, form)',
    [attr.disabled]='isDisabled(element)',
    [disabled]='isDisabled(element)'
)
    ng-container(#prependText)
    span.text {{getText(element.text)}}
    ng-container(#appendText)