doctype html

label([for]='element.name', *ngIf='!elementData.labelRendered && element.label && element.labelPosition === "before"') {{element.label}}
ng-container(#container)
label([for]='element.name', *ngIf='!elementData.labelRendered && element.label && element.labelPosition === "after"') {{element.label}}