doctype html

label([for]='elementId', *ngIf='!elementData.labelRendered && element.label && element.labelPosition === "before"') {{element.label}}
ng-container(#container)
label([for]='elementId', *ngIf='!elementData.labelRendered && element.label && element.labelPosition === "after"') {{element.label}}