@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/_variables';

@mixin tip-variant($background, $color) {

  span {
    color: $color;
    background-color: $background;
  }
  &:after {
    border-color: $background;
  }
}

$tool-tip-padding-y: 0.1rem;
$tool-tip-padding-x: 0.25rem;
$tool-tip-border-radius: 0.25rem;
$tool-tip-arrow-size: 0.5rem;
$tool-tip-arrow-spacing-y: 0.5rem;
$tool-tip-position-spacing-y: 0.05rem;

element-tip {
  display: block;

  &.element-tool-tip {
    position: absolute;

    span {
      display: block;
      position: relative;
      padding: $tool-tip-padding-y $tool-tip-padding-x;
      border-radius: $tool-tip-border-radius;
      z-index: 1;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      border: solid $tool-tip-arrow-size transparent;
      z-index: 0;
    }

    &.element-tip-top {
      top: $tool-tip-position-spacing-y;
      &:after {
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        bottom: -($tool-tip-arrow-size + $tool-tip-arrow-spacing-y);
      }
      &:after {
      }
    }
    &.element-tip-bottom {
      bottom: $tool-tip-position-spacing-y;
      &:after {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }


    &.element-tip-right {
      right: 0;
    }
    &.element-tip-left {
      left: 0;
    }

    &.element-tip-align-left {
      left: 0;
      &:after {
        left: $tool-tip-arrow-spacing-y;
      }
    }
    &.element-tip-align-right {
      right: 0;
      &:after {
        right: $tool-tip-arrow-spacing-y;
      }
    }
  }

  @each $color, $value in $theme-colors {
    &.element-tip-#{$color} {
      @include tip-variant(theme-color-level($color, 0), theme-color-level($color, -12));
    }
  }
}