doctype html

button.btn(
    [type]='control.buttonType',
    [class]='"btn-" + control.member.buttonClass',
    [ngClass]='control.cssClasses',
    (click)='handleBehavior(control.member.buttonAction, form)',
    [attr.disabled]='control.disabled ? "" : null',
    [disabled]='isDisabled(control)'
) {{getText(control.text)}}