doctype html

ng-template(ngFor let-page [ngForOf]='childControls')
    form-page(
        *ngIf='currentPage === page.pageIndex',
        [form]='elementData.form.controls[page.member.name]',
        [control]='page',
        (keyup.enter)='nextPage()',
        (keyup.shift.enter)='prevPage()'
    )

div
    button.btn.btn-default(
        type='button',
        (click)='prevPage()',
        *ngIf='currentPage > 0',
        [attr.disabled]='') {{control.member.prevText}}

    button.btn.btn-default.float-right(
        type='button',
        (click)='nextPage()',
        *ngIf='currentPage < childControls.length - 1',
        [attr.disabled]='form.controls[childControls[currentPage].name].valid ? null : "disabled"') {{control.member.nextText}}


