doctype html

input.btn(
    type='submit',
    [class]='"btn-" + control.member.buttonClass',
    [ngClass]='control.cssClasses',
    (click)='handleBehavior(control.member.buttonAction, form)',
    [attr.disabled]='control.disabled ? "" : null',
    [disabled]='isDisabled(control)',
    [value]='getText(control.text)'
)