doctype html

form(#container, [formGroup]='form', autocomplete='off', (ngSubmit)='submit($event)', novalidate)

    ng-template(ngFor let-control [ngForOf]='modelControls')
        form-element([control]='control', [form]='form')
