// Tips
$tool-tip-padding-y: 0.1rem !default;
$tool-tip-padding-x: 0.25rem !default;
$tool-tip-border-radius: 0.25rem !default;
$tool-tip-arrow-size: 0.5rem !default;
$tool-tip-arrow-spacing-x: 0.5rem !default;
$tool-tip-arrow-spacing-y: 0.5rem !default;
// to help prevent a visible seam between the arrow and the tooltip
$tool-tip-arrow-overlap: 0.05rem !default;

$sibling-tip-margin-after: ($form-group-margin-bottom / 2) !default;
$sibling-tip-margin-before: ($form-group-margin-bottom / 2) !default;