doctype html
include fields/fields

div(*ngIf='isRootPage')
    //ng-template(ngFor let-page [ngForOf]='childControls')
    .page(*ngFor='let page of childControls')
        form-page(*ngIf='currentPage === page.pageIndex', [form]='form.controls[page.member.name]', [control]='page')

    div
        button.btn.btn-default((click)='prevPage()', type='button', *ngIf='currentPage > 0', [attr.disabled]='') {{control.member.prevText}}
        button.btn.btn-default.float-right((click)='nextPage()', type='button', *ngIf='currentPage < childControls.length - 1') {{control.member.nextText}}

div(*ngIf='!isRootPage')
    +helpers
    ng-template(ngFor let-control [ngForOf]='childControls')
        +fields('displayOnly', 'form', true)


